@use "sass:math";

// Підключення шрифтів===========================================================================================================================================================================================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
// 100 – Thin
// 200 – Extra Light (Ultra Light)
// 300 – Light
// 400 – Normal
// 500 – Medium
// 600 – Semi Bold (Demi Bold)
// 700 – Bold
// 800 – Extra Bold (Ultra Bold)
// 900 – Bllack (Heavy)

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================
// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Poppins", sans-serif;
$fontSize: math.div(18, 16) + rem; // розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================
// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1320;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98; // Телефони L
$mobileSmall: 479.98; // Телефони S

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
    min-width: math.div($minWidth, 16) + rem;
    color: $mainColor;
    font-family: $fontFamily;
    font-size: $fontSize;

    // font-weight: 400;
    .lock & {
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;
    }
    .loaded & {
        opacity: 1;
        transition: opacity 0.8s ease 0s;
    }
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @supports (overflow: clip) {
        overflow: clip;
    }
    > main {
        flex: 1 1 auto;
    }
    > * {
        min-width: 0;
    }
}

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt
@if ($responsiveType==1) {
    // Чуйна
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: #{$containerWidth}px;
            margin-inline: auto;
        }
        @if ($containerPadding>0) {
            @if ($maxWidthContainer>0) {
                padding-inline: #{math.div($containerPadding, 2)}px;
            } @else {
                @include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
                @include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
            }
        }
    }
} @else {
    // Брейк-поїнтами
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: #{$containerWidth}px;
        } @else {
            @if ($containerPadding>0) {
                padding-left: #{math.div($containerPadding, 2)}px;
                padding-right: #{math.div($containerPadding, 2)}px;
            }
        }
        @media (max-width: (math.div($pc,16)+em)) {
            max-width: 970px;
        }
        @media (max-width: (math.div($tablet,16)+em)) {
            max-width: 750px;
        }
        @media (max-width: (math.div($mobile,16)+em)) {
            max-width: none;
            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding-left: #{math.div($containerPadding, 2)}px;
                padding-right: #{math.div($containerPadding, 2)}px;
            }
        }
    }
}
