.page__text {
    @media (max-width: $mobile) {
        font-size: toRem(50);
    }
    @media (max-width: $mobileSmall) {
        font-size: toRem(14);
        background-color: blue;
    }
}

.block__text {
    background-color: green;
    @media (max-width: $mobile) {
        background-color: red;
    }

    @media (max-width: $mobileSmall) {
        background-color: orange;
    }
}
